# Compiled output
dist
tmp
out-tsc
bazel-out

# Node
node_modules
npm-debug.log
yarn-error.log

# Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
coverage
.nyc_output

# Misc
.env
.env.*
*.log
state.json
airdrop_status.json
*.csv
fund.json